#contact {
  margin-bottom: 0.5rem;
}


.container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  .cardTitle {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 5px;
    color: #777;
    margin-bottom: 50px;
  }
  .cardTitle svg {
    margin-right: 1rem;
    font-size: 3rem;
    color: #1167ad;
  }
  
  .cardTitle h1 {
    font-size: 2.5rem;
    margin-bottom: 2.3rem;
    color: #f7f7f7;
  }
  
  .subtitulo {
    margin-bottom: 2rem;
  }
  
  .subtitulo h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #999;
  }
  
  form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #444;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    color: #444;
  }
  
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form textarea:focus {
    border-color: #2196f3;
    box-shadow: 0 0 5px #2196f3;
  }

  form button[type="submit"] {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 10px;
    background-color: #2196f3;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
  }
  
  form button[type="submit"]:hover {
    background-color: #0d8bf2;
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  form button[type="submit"]:focus {
    outline: none;
  }
  
  
 
  
  

  .error {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: #ff1744;
  }
  
  .success {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: #00e676;
  }
  
  /* Animaciones */
  form input[type="text"],
  form input[type="email"],
  form textarea,
  form button[type="submit"] {
    transform: translateY(-10px);
    opacity: 0;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    animation: fadeInUp 0.5s ease-in-out forwards;
  }
  
  form button[type="submit"] {
    animation: fadeInUp 0.5s ease-in-out 0.2s forwards;
  }
  
  @keyframes fadeInUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  